@use './colors' as *;
@use './fonts' as *;

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

}

html, body, #app {
    max-width: 100dvw;
    background-color: $bg-color;
    height: 100vh;
    overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
}